:root {
    background-color: lightcyan;
    padding: 10px;
}

header {
    display: flex;
}

#header-user-info {
    display: flex;
    align-items: center;
}

#header-auth {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#header-auth >h3,
#header-auth >a {
    margin: 0;
}

#header-profile-photo {
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    height: 3rem;
}

form {
    background-color: rgba(255, 255, 255, .5)
}