{% extends 'index.html' %}
{% block content %}
<h1>Finalize Action</h1>
<form action='' method='POST'>
{% csrf_token %}
<div class='form-group'>
    <h3>Choose applicable characters:</h3>
    {% for character in character_options.all %}
    <div class='form-choice'>
        <label for='char_name'>
        <input name='char_name' type='checkbox' value='{{ character.id }}' />
        {{character.name}}
        </label>
    </div>
    {% endfor %}
</div>
<div class='form-group'>
    <h3>{{ form.difficulty.label }}:</h3>
    {{ form.difficulty }}
</div>
<div class='form-group'>
    <h3>{{ form.related_skill.label }}</h3>
    {{ form.related_skill }}
</div>
{% comment %} {{ form.as_p }} {% endcomment %}
<input class='button' type='submit' value='Send Action' />
</form>
{% endblock %}
