{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Sheet</title>
  </head>
  <body>
    <h1>Character Sheet</h1>

    <ul>
        {% for c in char %}
      <li>Name: {{ c.name }}</li>
      <li>Race: {{ c.race }}</li>
      <li>Class: {{ c.class_name }}</li>
      <li>Alignment: {{ c.alignment }}</li>
      <li>Background: {{ c.background }}</li>
      <li>Speed: {{ c.speed }}</li>
      <li>proficiency bonus: {{ c.proficiency_bonus }}</li>
      <li>STR: {{ c.strength }}</li>
      <li>DEX: {{ c.dexterity }}</li>
      <li>CON: {{ c.constitution }}</li>
      <li>INT: {{ c.intelligence }}</li>
      <li>WIS: {{ c.wisdom }}</li>
      <li>CHA: {{ c.charisma }}</li>
      -----------------------------------
        {% endfor %}
    </ul>
  </body>
</html>
{% endblock %}