{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/new-character.css' %}" type="text/css" />
<a href='/'><button>Back to Home</button></a>
{% if message %}
<h5>{{ message }}</h5>
{% endif %}
<form action='' method='post'>
    {% csrf_token %}
    <h1>New Character</h1>
    <div class='form-group'>
        <h3 id='name'>Character Name:</h3>
        <p>{{ form.name }}</p>
    </div>
    <div class='form-group'>
        <h3>Race:</h3>
        <div class='options'>
            {% for item in form.race %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group'>
        <h3 id='class_name'>Class:</h3>
        <div class='options'>
            {% for item in form.class_name %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-alignment' id='form-alignment'>
        <h3 id='alignment'>{{ form.alignment.label }}:</h3>
        <div class='alignment-options'>
            {% for item in form.alignment %}
            <div class='alignment-choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-background' id='form-background'>
        <h3 id='background'>{{ form.background.label }}:</h3>
        <div class='options'>
            {% for item in form.background %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-strength' id='form-strength'>
        <h3 id='strength'>{{ form.strength.label }}:</h3>
        <div class='options'>
            {% for item in form.strength %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-dexterity' id='form-dexterity'>
        <h3 id='dexterity'>{{ form.dexterity.label }}:</h3>
        <div class='options'>
            {% for item in form.dexterity %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-constitution' id='form-constitution'>
        <h3 id='constitution'>{{ form.constitution.label }}:</h3>
        <div class='options'>
            {% for item in form.constitution %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-intelligence' id='form-intelligence'>
        <h3 id='intelligence'>{{ form.intelligence.label }}:</h3>
        <div class='options'>
            {% for item in form.intelligence %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-wisdom' id='form-wisdom'>
        <h3 id='wisdom'>{{ form.wisdom.label }}:</h3>
        <div class='options'>
            {% for item in form.wisdom %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='form-group form-charisma' id='form-charisma'>
        <h3 id='charisma'>{{ form.charisma.label }}:</h3>
        <div class='options'>
            {% for item in form.charisma %}
            <div class='choice'>
                <p>{{ item.tag }}</p>
                <p>{{ item.choice_label.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <br />
    <input class='button' type='submit' value='Make Selections' /> 
    <input class='button' type='reset' value='Clear Selections' />
</form>
{% endblock %}