{% extends 'index.html' %}
{% block content %}
{% if message %}
<h5>{{ message }}</h5>
{% endif %}
<div id='active-games'>
    <h3>Your Games</h3>
    {% for game in games %}
    <a href='/games/detail/{{game.gameID}}/'><h5>{{ game.gameName }}</h5></a>
    {% endfor %}
    <a href='/games/new/'><button>Start New Game!</button></a>
</div>
<div id='characters'>
    <h3>Your Characters:</h3>
    {% for character in characters %}
    <div class='user-character'>
        <h5>{{ character.name }}</h5>
        <p>{{ character.race.title }} {{ character.class_name.title }}</p>
        {% if character.gameID is not None %}
        <p>Active</p>
        {% else %}
        <p>Inactive</p>
        {% endif %}
    </div>
    {% endfor %}
    <a href='/characters/create/'><button>Build New Character!</button></a>
</div>
{% endblock %}