{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
<header>
    {% if request.user.is_authenticated %}
    <div id='header-user-info'>
        <img
            id='header-profile-photo'
            src="{{ request.user.photo_url }}"
            alt="{{ request.user.username }}'s Photo"
        />
        <div id='header-auth'>
            <h3>Welcome, {{ request.user.username }}</h3>
            <div id='link-list'>
                <a href='/users/logout/'>Log Out</a>
                <a href='/users/profile/'>Account</a>
            </div>
        </div>
    </div>
    {% else %}
    <div id='header-user-info'>
        <img
            id='header-profile-photo'
            src="https://cdn3.iconfinder.com/data/icons/galaxy-open-line-gradient-i/200/contacts-512.png"
            alt="{{ request.user.username }}'s Photo"
        />
        <div id='header-auth'>
            <h3>You are logged out</h3>
            {% if 'login' not in request.path %}
            <a href='/users/login'>Login</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</header>

{% block content %}
{% endblock %}