body {
    text-align: center;
}

header {
    text-align: left;
}

#game-character-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

#game-character-option {
    background-color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px darkgreen;
    flex-basis: 20%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}